/* styles.css */
@keyframes gradientText {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.key.led span {
  display: inline-block;
  background: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 5s ease infinite;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #f06, #4a90e2);
  color: #fff;
}

.container {
  text-align: center;
  z-index: 1;
}

#game {
  margin-bottom: 20px;
}

#word {
  font-size: 2.5em;
  margin: 20px 0;
}

#input {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  outline: none;
}

#start {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 50px;
  background-color: #ffcc00;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#start:hover {
  background-color: #ff9900;
  transform: scale(1.1);
}

.keyboard {
  display: inline-block;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.key.pressed {
  background-color: #555;
  transform: scale(1.1);
}

.key.correct {
  background-color: #4CAF50;
}

.key.incorrect {
  background-color: #F44336;
}
